name: SanityCheck

#1 Triggers when this actions should run
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
#2 What jobs are run
jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint


